In [15]:
import mysql.connector as sql

connection = sql.connect(
        host = "localhost",
        user = "root",
        password = "Abbuu0310",
        database = "student")

In [16]:
print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7fa035262c10>

In [17]:
cursor = connection.cursor()

In [18]:
# sql_delete = "DROP TABLE "+"studentinfo" 
# sql_create = "CREATE DATABASE "+"student" 
# cursor.execute(sql_delete)

In [19]:
cursor.execute("SHOW DATABASES")

In [20]:
for x in cursor:
    print(x)

('Ab',)
('Ab1',)
('Abhi',)
('information_schema',)
('mysql',)
('performance_schema',)
('student',)
('sys',)

# CREATE A TABLE

In [21]:
table_create = "CREATE TABLE studentinfo (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), Domain VARCHAR(255)) "
cursor.execute(table_create)

In [23]:
query = "INSERT INTO studentinfo(name, Domain) VALUES (%s,%s)"
value = ("Abhi", "Data_scientist")
cursor.execute(query, value)
print("Row inserted", cursor.lastrowid)

Row inserted 1

In [24]:
cursor.execute("SELECT * from studentinfo")
cursor.fetchall()

[(1, 'Abhi', 'Data_scientist')]

In [25]:
values = [("Ab","Machine learning Engineer"),("Ab1","Deep learning Engineer"),
         ("Ab2","Natural language processing Engineer"), ("Ab3","Data Analyst"),
         ("Ab4","Python Developer for Machine learning")]
cursor.executemany(query, values)

In [26]:
cursor.execute("SELECT * from studentinfo")
cursor.fetchall()

[(1, 'Abhi', 'Data_scientist'),
 (2, 'Ab', 'Machine learning Engineer'),
 (3, 'Ab1', 'Deep learning Engineer'),
 (4, 'Ab2', 'Natural language processing Engineer'),
 (5, 'Ab3', 'Data Analyst'),
 (6, 'Ab4', 'Python Developer for Machine learning')]